/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
}

/* Sección Hero */
.hero {
    background: url('img/fondo.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Capa de oscuridad */
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
}

.hero .btn {
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 10px 20px;
}
